body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 100px;
    
}


.header-link-container{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0px 100px 75px 100px;
       
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    
}

.subheader-container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    
}

.sheader-content-container {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
   
}

#header-title{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

#header-paragraph {
    margin-top: 0;
    font-size: 18px;
    color: #e5e7eb;
}

img {
    flex-grow: 5;
    height: 300px;
    padding: 0px 100px;
}

#heading-signUp-btn {
    width: 100px;
    padding: 5px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    border-style: none;
}